* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  background-image: url("/bg.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
  position: relative;
}

.container {
  width: 90vw;
  height: 90vh;
  display: flex;
  background-color: rgba(17, 25, 40, 0.75);
  backdrop-filter: blur(19px) saturate(180%);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  overflow: hidden;

}

.loading {
  padding: 50px;
  font-size: 36px;
  border-radius: 10px;
  background-color: rgba(17, 25, 40, 0.9);
}

::-webkit-scrollbar {
  width: 8px; /* Ширина вертикального скроллбара */
}

/* Фон скроллбара */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Цвет скролл-ручки */
::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: rgba(153, 153, 153, 0.393);
}